<div class="profile-background-color">
  <div class="container mt-5">
  <%= render "shared/dashboard_navigation" %>
    <div class="cards">
      <% @my_bookings.each do |booking| %>
        <div class="card-room">
          <%= image_tag booking.room.photo %>
          <div class="card-description">
            <p>Hôtel : <%= booking.room.hotel.name %></p>
            <br>
            <div class="d-flex" style="justify-content: space-between;">
              <div>
                <p><i class="fas fa-user"></i> <%= pluralize(booking.room.capacity, "personne", "personnes") %></p>
              </div>
              <div>
                <strong><%= booking.room.price_per_night %>€</strong>
              </div>
            </div>
            <div class="mt-3">
              <p>Du : <%= booking.starts_at %></p>
              <p>Au : <%= booking.ends_at %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
